@use '../abstracts' as *;

* {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: $Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}
