@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

// Font Family

$Nunito: 'Nunito', sans-serif;

// Colors
$boxTitlesColor: rgb(45, 45, 45);

// Font Size

$boxTitles: 30px;