@use '../../../styles/abstracts' as *;

.navbar {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  backdrop-filter: blur(6px);
  border-bottom: 0.9px solid rgb(212, 212, 212);
  font-style: 15px;
  z-index: 99;

  transition: $transitionsAll;

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menuControl {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: left;
      align-items: center;
      margin-left: 21px;

      .icon {
        font-size: 15px;
        cursor: pointer;

        &:hover {
          font-size: 27px;
          padding: 6px;
          margin-right: 3px;
          border: 0.9px solid rgb(212, 212, 212);
          border-radius: 50%;
          -webkit-box-shadow: $iconShadowDark;
          box-shadow: $iconShadowClear;
        }

        @include media('<desktop') {
          display: none;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      margin-right: 12px;

      .avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }
      }

      .item {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .counter {
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: red;
          color: white;
          font-size: 9px;
          font-weight: bold;
          border-radius: 50%;
          position: absolute;
          bottom: 11px;
          right: 5px;
        }

        .icon {
          font-size: 21px;
          cursor: pointer;
          margin-left: 1px;

          &:hover {
            font-size: 36px;
            margin-right: -8px;
            margin-left: -6px;
            padding: 6px;
            border: 0.9px solid rgb(212, 212, 212);
            border-radius: 50%;
            -webkit-box-shadow: $iconShadowDark;
            box-shadow: $iconShadowClear;
          }

          @include media('<phone') {
            font-size: 18px;
            margin-left: 0;
          }

          @include media('<fold') {
            font-size: 12px;

            &:hover {
              font-size: 21px;
              padding: 3px;
            }
          }
        }

        @include media('<tablet') {
          width: 30px;
          height: 30px;
        }
      }

      @include media('<desktop') {
        margin-right: 0;
      }

      @include media('<phone') {
        .avatar {
          width: 27px;
          height: 27px;
        }

        .counter {
          width: 12px;
          height: 12px;
        }

        .item {
          margin: 0 6px;
        }
      }

      @include media('<fold') {
        .avatar {
          width: 24px;
          height: 24px;
        }

        .counter {
          width: 9px;
          height: 9px;
        }
      }
    }
  }

  &.dark {
    color: $white;

    .wrapper {
      .menuControl {
        .icon {
          &:active {
            background-color: $dark-fifth;
            color: $dark-third;
          }
        }
      }

      .items {
        .icon {
          &:active {
            background-color: $dark-fifth;
            color: $dark-third;
          }
        }
      }
    }
  }

  &.light {
    color: $typography-secondary;

    .wrapper {
      .menuControl {
        .icon {
          &:active {
            background-color: $fifth;
            color: $third;
          }
        }
      }

      .items {
        .icon {
          &:active {
            background-color: $fifth;
            color: $third;
          }
        }
      }
    }
  }
}
