@use '../../../styles/abstracts' as *;

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  transition: $transitionsAll;

  .sideContainer {
    width: 240px;
    height: 100%;

    &.hide {
      width: 81px;
    }
  }

  .mainContainer {
    width: calc(100% - 240px);
    height: 100%;
    display: flex;
    flex-direction: column;

    .navContainer {
      width: 100%;
      height: 75px;
    }

    .content {
      width: 100%;
      height: calc(100% - 81px);
      max-height: calc(100% - 81px);
      overflow-y: scroll;
    }

    .footer {
      width: 100%;
      height: 51px;
    }
  }

  // Hide SideBar

  &.hide {
    .sideContainer {
      width: 81px;
    }

    .mainContainer {
      width: calc(100% - 81px);
    }
  }

  // Media Query's

  @include media('<desktop') {
    .sideContainer {
      width: 210px;
    }

    .mainContainer {
      width: calc(100% - 210px);
    }
  }

  @include media('<phone') {
    .sideContainer {
      width: 81px;
    }

    .mainContainer {
      width: calc(100% - 81px);
    }
  }

  @include media('<fold') {
    .sideContainer {
      width: 60px;
    }

    .mainContainer {
      width: calc(100% - 60px);
    }
  }
}
