@use '../../scss/abstracts' as *;

.sidebar {
  flex: 1;
  width: 100%;
  height: 100%;
  border-right: $borderStyle;

  .logo {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: $borderStyle;

    span {
      font-size: 27px;
      font-weight: 800;
      color: $third;

      @include media('<desktop') {
        display: none;
      }
    }
  }

  .center {
    display: flex;

    ul {
      width: 100%;
      margin-top: 6px;
      list-style: none;

      .title {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 9px;
        margin-bottom: 6px;
        padding-left: 1rem;
        color: $fourth;

        @include media('<desktop') {
          display: none;
        }
      }

      li {
        display: flex;
        align-items: center;
        padding: 9px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $fifth;
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
          margin-right: 6px;

          .icon {
            color: $third;
          }

          span {
            color: $third;
          }

          @include media('<desktop') {
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: $transitionsAll;
          }
        }

        &:active {
          transform: scale(1.02);
          transition: $transitionsAll;
        }

        .icon {
          display: flex;
          align-items: center;
          font-size: 21px;
          color: $boxTitlesColor;
        }

        span {
          font-size: 15px;
          margin-left: 9px;
          font-weight: 600;
          color: $boxTitlesColor;

          @include media('<desktop') {
            display: none;
            transition: $transitionsAll;
          }
        }

        @include media('<desktop') {
          justify-content: center;
          padding: 9px 18px;
        }
      }

      .select {
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-right: 6px;
        background: linear-gradient(
          to bottom right,
          $third 0,
          $fourth 100%
        ) !important;

        .icon {
          color: white !important;
          margin-right: -2px;
        }

        span {
          color: white !important;
        }

        @include media('<desktop') {
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          transition: $transitionsAll;
        }
      }
    }

    @include media('<desktop') {
      height: 81%;
      overflow-y: scroll;
    }

    @include media('<phone') {
      height: 72%;
    }

    @include media('<fold') {
      height: 100%;
    }
  }
}
