@use '../../../styles/abstracts' as *;

.singlePage {
  display: flex;
  width: auto;
  margin-left: 270px;
  margin-top: 75px;

  .singleContainer {
    width: 100%;

    .editItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 9px 60px 0 60px;

      .editButton {
        min-width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 9px 12px;
        border-radius: 6px;
        color: white;
        background-color: rgb(1, 123, 255);
        cursor: pointer;
        -webkit-box-shadow: 3px 6px 12px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 3px 6px 12px 1px rgba(201, 201, 201, 1);

        span {
          margin: 0 6px;
        }
      }

      .title {
        color: $typography-secondary;
        font-weight: bold;
        font-size: 39px;
      }
    }
  }

  .dataContainer {
    padding: 21px;
  }
}
