@use './styles/abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: $Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

.AdminPanel {
  &.dark {
    background-color: $dark-primary;
  }

  &.light {
    background-color: $primary;
  }
}
